<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isxxc.dao.ProductNumStatisticsDAO">

    <!--分页查询商品数量信息统计列表-->
    <select id="listPage" resultType="com.isxxc.domain.dto.ProductNumStatisticsDTO">
SELECT
        DATE_FORMAT(a.gmt_create,   "%Y-%m-%d %H:%m:%s") AS "createDate",
        DATE_FORMAT(a.gmt_modified, "%Y-%m-%d %H:%m:%s") AS "modifiedDate",
        c.name AS "productName",
        a.num AS "productCount",
        a.bofore_num AS "beforeNum"
FROM
        `product_sku_stock_log` AS a,
        `product_sku_info` AS b,
        `product_spu` AS c
 WHERE
        a.sku_stock_id = b.id
        AND b.spu_id = c.id
        AND a.is_deleted = 0
        AND b.is_deleted = 0
        <if test="params != null ">
        <choose>
          <when test="params.startTime != null and params.endTime != null ">
            AND (#{params.startTime} &lt;= a.gmt_modified AND a.gmt_modified &lt;= #{params.endTime})
          </when>
          <when test="params.startTime != null">
            AND #{params.startTime} &lt;= a.gmt_modified
          </when>
          <when test="params.endTime != null ">
            AND a.gmt_modified &lt;= #{params.endTime}
          </when>
        </choose>
      </if>
GROUP BY c.name order by a.gmt_modified desc


    <!--查询商品数量信息统计列表-->
    </select>
    <select id="find" resultType="com.isxxc.domain.dto.ProductNumStatisticsDTO">
SELECT
        DATE_FORMAT(a.gmt_create,   "%Y-%m-%d %H:%m:%s") AS "createDate",
        DATE_FORMAT(a.gmt_modified, "%Y-%m-%d %H:%m:%s") AS "modifiedDate",
        c.name AS "productName",
        a.num AS "productCount",
        a.bofore_num AS "beforeNum"
FROM
        `product_sku_stock_log` AS a,
        `product_sku_info` AS b,
        `product_spu` AS c
 WHERE
        a.sku_stock_id = b.id
        AND b.spu_id = c.id
        AND a.is_deleted = 0
        AND b.is_deleted = 0
  GROUP BY c.name order by a.gmt_modified desc
    </select>
</mapper>
